Temp/*
Library/*
obj/*
.vs/*
$tf/*
$tf
/$tf/0/*.gz
/$tf/0/*.rw
/$tf/1/*.gz
/$tf/1/*.rw
/$tf/10/*.gz
/$tf/10/*.rw
/$tf/11/*.gz
/$tf/11/*.rw
/$tf/12/*.gz
/$tf/13/*.gz
/$tf/14/*.gz
/$tf/14/*.rw
/$tf/15/*.gz
/$tf/2/*.gz
/$tf/3/*.gz
